
a {
  text-decoration: none;
}
header {
  background-color: white;
  
 
}
nav ul li a:hover {
  background-color: bisque;
}
nav{
  background-color: white;
}

nav ul li h1{
  color:#9DCE5B;
  font-size: 1.8em;
}
